
.delete{
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 10px;
    color: red;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.192);
    border-color: aliceblue;
}